body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    margin: 0;
    padding: 0;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 20px 0 20px 0;
}

footer {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.project {
    margin: 20px 0;
}

.project h3 {
    color: #35424a;
}

.project p {
    padding: 20px 0;
}
